extends layout

block head
  script(type='text/javascript', src='/scripts/vendor/moment/moment.js')
  script(type='text/javascript', src='/scripts/vendor/moment/moment-timezone-with-data.js')
  script(type='text/javascript', src='/scripts/views/index.js')

block content
  h1= title
  p Time Zone Database Version:&nbsp;
    span#tz-data-version
  p
    a(href='https://www.timeanddate.com/news/time/') Time Zone News
  p
    a(href='https://www.iana.org/time-zones') IANA Time Zone Database
  p
    table#countdown.table.table-bordered
      thead
      tbody
