extends layout

block head
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js')
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.33/moment-timezone-with-data.min.js')
  script(type='text/javascript', src='/scripts/views/index.js')

block content
  h1= title
  p Time Zone Database Version:&nbsp;
    span#tz-data-version
  p.
    #[a(href='https://www.timeanddate.com/news/time/') Time Zone News] | #[a(href='https://www.iana.org/time-zones') IANA Time Zone Database] | #[a(href='https://momentjs.com/timezone/') Moment Timezone] | #[a(href='/next-change.json') JSON Version] | #[a(href='https://github.com/jeremywall/time-zone-change-countdown') GitHub]
  p
    table#countdown.table.table-bordered.table-hover.table-sm
      thead
      tbody
      tfoot
